@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #535c68;
}
.bmconatiner{
  background-color: #fff;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0, 0.1);
  padding: 20px;
  display: flex;
}
.box{
  width: 350px;
  background-image: url('assets/BMI!.jpg');
  background-repeat: no-repeat;
  background-size:cover;
 background-position: center;
}
.data{
  flex: 1;
  padding: 15px;
}
h1{
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #3498db;
}
.input{
  margin-bottom: 16px;
}
label{
  display: block ;
  margin-bottom: 5px;
  color: #888;
}
input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #71bde0;
  outline: none;
}
button{
  color: white;
  border: none;
  padding: 10px 20px;
  background-color: #3498db;
  border-radius: 3px;
  cursor: pointer;
  transition:  background-color 0.6s;
  
}
button:hover{
  background-color: #115164;
  
}
.result{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 4px;
}

.result p{
  margin:10px 0;
  color: #888;
}
.result p:first-child{
  color: #3498db;
  font-weight: bold ;
  text-transform: uppercase;
}
.error{
  font-size: 16px;
  color: red;
  margin-bottom: 5px;
}